#3/27 파이썬 실습 연습 파일

In [13]:
print(25) # 숫자 25 출력

print(1200)

25
1200

##여러줄 주석

In [14]:
'''
여러줄 주석을 작성하는 중입니다.
따옴표를 세 개 연달아 작성하면 여러줄 주석입니다.
주석을 닫을 때도 따옴표 세 개를 연달아 사용하면 됩니다.
설명할 내용이 많을 때 사용합니다.
'''

'\n여러줄 주석을 작성하는 중입니다.\n따옴표를 세 개 연달아 작성하면 여러줄 주석입니다.\n주석을 닫을 때도 따옴표 세 개를 연달아 사용하면 됩니다.\n설명할 내용이 많을 때 사용합니다.\n'

##단축키

[단축키]
1. 코드셀 추가 : esc(누르고 난 후) + b
2. 코드 실행 후 다음 셀로 이동 : shift(누른 상태에서) + enter
3. 코드 실행 그자리 그대로 : ctrl(누른 상태에서) + enter
4. 한줄 주석 : ctrl(누른 상태에서) + /
5. 여러줄 한번에 주석 : 여러줄 선택한 상태에서 ctrl + /

## input() : 입력 받기

In [15]:
age = 25  #age는 25로 고정됨
print(age)

25

In [17]:
age = input('나이를 입력하세요 : ')
print(age)

나이를 입력하세요 : 26
26

## 자료형 변환
int(), float(), str(), list()

In [20]:
print(type(age)) #<class 'str'>

<class 'str'>

String Type에서는 덧셈 연산이 불가능.

Int형으로 변환해야함.

In [22]:
age = int(age) #<class 'int'>로 변환

print(type(age)) #<class 'int'>

<class 'int'>

In [23]:
age = int(input('나이를 입력하세요 : '))
print(age)
print(type(age))

나이를 입력하세요 : 22
22
<class 'int'>

## 리스트 (List)
`[ , , , ]`

In [24]:
list_a = [1,2,3,4,5]
print(list_a)

list_b = [10,20,30,30] # 중복 허용
print(list_b)

[1, 2, 3, 4, 5]

## 튜플 (Tuple)
`( , , )`

List와는 다르게 **값 변경이 불가능!!!**

In [25]:
tuple_1 = (10, 20, 30, 30) # 중복 허용
print(tuple_1)
print(type(tuple_1)) # <class 'tuple'>

(10, 20, 30, 30)
<class 'tuple'>

괄호 생략 가능

In [26]:
tuple_2 = 10,20,30,30
print(tuple_2)
print(type(tuple_2)) # <class 'tuple'>

(10, 20, 30, 30)
<class 'tuple'>

단, 원소 하나인 경우에는 쉼표(,)를 입력해야 튜플이 됨.

In [29]:
list_3 = [10]   # list
tuple_3 = (10)  # int
tuple_4 = 10    # int
tuple_5 = (10,) # tuple
tuple_6 = 10,   # tuple

print(type(list_3))
print(type(tuple_3))
print(type(tuple_4))
print(type(tuple_5))
print(type(tuple_6))

<class 'list'>
<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [30]:
list_to_tuple = tuple(list_3) # list를 tuple로 변환

값을 앞으로 변경할 필요가 없거나, 변경하지 못하게 할 때 튜플로 변환

리스트보다 처리 속도가 빠르고 메모리를 덜 사용함. (최적화)

## 딕셔너리 (Dictionary)

`{ Key : Value, Key : Value }`

순서가 없다.

중복된 Key를 가질 수 없다.

변경 가능하다.

## 집합 (Set)

중복을 허용하지 않는다.

순서가 없다.