# 1. pandas(판다스)

Pandas는 Python에서 사용하는 데이터 분석 라이브러리입니다. 이름은 "PANel DAta"의 약자로 금융 경제학 용어에서 유래되었습니다. Pandas는 데이터 조작 및 분석을 위해 설계되었으며, 빠르고 유연한 데이터 구조를 제공하여 대규모 데이터 세트를 효율적으로 처리할 수 있습니다.

 <img src="./sorce/pandas.png" height="100" width="300">


Pandas는 다음과 같은 주요 특징을 가지고 있습니다.

* 다양한 데이터 타입 처리 : Pandas는 다양한 타입의 데이터를 처리할 수 있습니다. 예를 들어, 정수, 실수, 문자열, Python 객체 등을 처리할 수 있습니다.
* 누락된 데이터 처리 : Pandas는 누락된 데이터를 쉽게 처리할 수 있습니다. 예를 들어, 누락된 데이터를 특정 값으로 채우거나 누락된 데이터를 포함하는 행이나 열을 삭제할 수 있습니다.
* 데이터 병합 : Pandas는 여러 데이터프레임을 하나로 병합하거나 조인할 수 있는 기능을 제공합니다.
* 피벗 테이블 생성 : Pandas는 피벗 테이블을 쉽게 생성할 수 있습니다. 피벗 테이블은 데이터를 요약하고 분석하는데 유용합니다.
* 시계열 데이터 처리 : Pandas는 시계열 데이터를 다루는 데 매우 유용한 도구들을 제공합니다.


<br />
<br />
<br />


## 라이브러리 불러오기
데이터 분석에서 널리 사용되는 파이썬 패키지 중 하나인 pandas는 데이터를 처리하고 조작하는 데 필수적인 도구를 제공합니다. pandas는 NumPy를 기반으로 구현되었으므로 NumPy도 함께 import 해주어야 합니다.

아래 코드에서는 pandas를 **pd** 라는 이름으로 import하고, NumPy를 **np** 라는 이름으로 import합니다. 이렇게 하면 pandas나 NumPy의 함수나 클래스를 호출할 때 매번 긴 이름을 쓰지 않고 간결하게 사용할 수 있습니다.

In [1]:
import pandas as pd
import numpy as np


<br />
<br />
<br />
<br />

# 2. Pandas 데이터 구조


Pandas는 Series, DataFrame, Index라는 세 가지 핵심 데이터 구조를 기반으로 작동합니다.



## 2.1 Series


Pandas Series는 기본 데이터 구조 중 하나로, 1차원 배열로과 유사하게 동작합니다. 이러한 구조는 일련의 데이터 항목을 저장하고 조작할 수 있는 기능을 제공합니다. Series는 index 을 가질 수 있으며, index를 기반으로 데이터를 액세스할 수 있습니다.

<img src="./sorce/series.png" height="600" width="300">



<br />
<br />
<br />


## 2.2 생성


pd.Series 객체는 여러 가지 데이터 유형으로부터 생성될 수 있습니다.

In [2]:
import pandas as pd

data = [10, 20, 30, 40, 50]  # 리스트 데이터

In [3]:
# 여기에 코드를 작성하세요!
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
# 모범 답안

series = pd.Series(data)  # 시리즈 생성

print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

## 2.3 인덱싱


Series의 요소에는 인덱스를 사용하여 엑세스 할 수 있습니다. 인덱스를 지정하지 않으면 Pandas는 기본적으로 0에서 시작하는 정수 인덱스를 제공합니다. 명시적으로 인덱스를 지정하는 경우에는, 사용자가 원하는 문자 인덱스(이름) 를 지정할 수도 있습니다.

In [5]:
data = [100, 200, 300]
index_labels = ["a", "b", "c"]  # 인덱스 라벨 지정

In [6]:
# 여기에 코드를 작성하세요!

series = pd.Series(data, index=index_labels)  # 인덱스 라벨 지정하여 시리즈 생성
print(series)

a    100
b    200
c    300
dtype: int64

In [7]:
# 모범 답안

import pandas as pd


series = pd.Series(data, index=index_labels)

print(series)

a    100
b    200
c    300
dtype: int64

특정 인덱스 값을 가져오거나, 여러 개의 값을 리스트 형태로 가져올 수도 있습니다.

In [8]:
# 여기에 코드를 작성하세요!
print(series["a"])
print(series[0])

100
100

In [9]:
# 여기에 코드를 작성하세요!
print(series[["a", "c"]])

a    100
c    300
dtype: int64

In [10]:
# 모범 답안

print(series["a"])  # 100
print(series[0])    # 100 (숫자 인덱스도 가능)

100
100

In [11]:
# 모범 답안

print(series[["a", "c"]])

a    100
c    300
dtype: int64



<br />
<br />
<br />

# 3. DataFrame



Pandas DataFrame은 2차원 테이블로, 서로 다른 타입의 데이터를 보관할 수 있습니다. DataFrame은 각 열마다 다른 타입의 데이터(숫자, 문자열, 불리언 등)를 저장할 수 있으며, 데이터는 열이나 행을 기준으로 선택, 정렬, 조작될 수 있습니다. DataFrame은 스프레드시트, SQL 테이블, 또는 R의 data.frame과 같은 2차원 테이블 형식의 데이터 구조와 유사합니다.

<img src="./sorce/dataframe.png" height="400" width="600">





DataFrame은 다양한 방법으로 생성할 수 있습니다. 가장 먼저 리스트를 활용하여 생성해봅니다.

In [12]:
import pandas as pd

data = [
    ['John', 28, 'New York'],
    ['Anna', 24, 'Paris'],
    ['Peter', 35, 'Berlin'],
    ['Linda', 32, 'London']
]

In [13]:
# 여기에 코드를 작성하세요!
dataframe = pd.DataFrame(data, columns=['name', 'age', 'city'])
dataframe2 = pd.DataFrame(data, index=['Person 1', 'Person 2', 'Person 3', 'Person 4'])


print(dataframe)
print(dataframe2)

    name  age      city
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London
              0   1         2
Person 1   John  28  New York
Person 2   Anna  24     Paris
Person 3  Peter  35    Berlin
Person 4  Linda  32    London

In [14]:
# 모범답안

import pandas as pd

df = pd.DataFrame(data, columns=['name', 'age', 'city'])
df2 = pd.DataFrame(data, index=['Person 1', 'Person 2', 'Person 3', 'Person 4'])

print(df)
print(df2)

    name  age      city
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London
              0   1         2
Person 1   John  28  New York
Person 2   Anna  24     Paris
Person 3  Peter  35    Berlin
Person 4  Linda  32    London


<br />
<br />


다음은 딕셔너리를 활용하여 DataFrame을 생성하는 코드입니다. 딕셔너리를 사용하면 자동으로 컬럼명이 지정됩니다.

In [15]:
# 여기에 코드를 작성하세요!


data = {"이름": ["John", "Anna", "Peter", "Linda"],
        "나이": [20, 22, 21, 24],
        "학점": ["A", "B", "A", "C"]
}

dataframe = pd.DataFrame(data, index=["학생1", "학생2", "학생3", "학생4"])
display(dataframe)

        이름  나이 학점
학생1   John  20  A
학생2   Anna  22  B
학생3  Peter  21  A
학생4  Linda  24  C

In [16]:
# 모범 답안
import pandas as pd

data = {
    "이름": ["John", "Anna", "Peter"],
    "나이": [20, 22, 21],
    "학점": ["A", "B", "A"]
}

df = pd.DataFrame(data)
display(df)

      이름  나이 학점
0   John  20  A
1   Anna  22  B
2  Peter  21  A


<br />
<br />
<br />


# DataFrame 에서 데이터 접근하기
  DataFrame 에서는 특정한 컬럼이나 행에 접근이 가능합니다.


<br />
<br />
<br />


## 특정 컬럼(열) 가져오기
특정 컬럼을 가져오려면 DataFrame 변수의 컬럼명을 사용하여 가져올 수 있습니다.

In [17]:
print(df["이름"])

0     John
1     Anna
2    Peter
Name: 이름, dtype: object

In [18]:
# 여기에 코드를 작성하세요!
dataframe[["나이","학점"]]

     나이 학점
학생1  20  A
학생2  22  B
학생3  21  A
학생4  24  C


<br />
<br />


## 특정 행(Row) 가져오기
특정 인덱스를 활용하여 행 값들을 가져올 수도 있습니다. 이때에는 .loc 메서드를 활용합니다.

In [19]:
print(df.loc[1])  # 인덱스 1번 행 가져오기

이름    Anna
나이      22
학점       B
Name: 1, dtype: object

In [20]:
# 여기에 코드를 작성하세요!
print(dataframe.iloc[1])

이름    Anna
나이      22
학점       B
Name: 학생2, dtype: object

여러개의 행을 한번에 가져올 수도 있습니다.

In [21]:
print(df.loc[[0, 2]])  # 0번, 2번 행 가져오기

      이름  나이 학점
0   John  20  A
2  Peter  21  A

In [22]:
# 여기에 코드를 작성하세요!
print(dataframe.iloc[[0,2]])

        이름  나이 학점
학생1   John  20  A
학생3  Peter  21  A


<br />
<br />


## 특정 조건의 데이터 필터링
원하는 조건의 데이터만 추출하고 싶다면 조건식을 사용하여 특정 조건의 데이터를 필터링 할 수 있습니다.

In [23]:
print(df[df["나이"] > 20])  # 나이가 20 이상인 데이터만 선택

      이름  나이 학점
1   Anna  22  B
2  Peter  21  A

In [24]:
# 여기에 코드를 작성하세요!
dataframe[dataframe["학점"] == "A"]

        이름  나이 학점
학생1   John  20  A
학생3  Peter  21  A

In [29]:
dataframe['나이'][dataframe['학점'] == "A"]

학생1    20
학생3    21
Name: 나이, dtype: int64

In [30]:
dataframe[dataframe["학점"] == "A"]["나이"]

학생1    20
학생3    21
Name: 나이, dtype: int64