0. 라이브러리를 불러오세요

In [ ]:
import pandas as pd

1. 데이터를 로드하세요. 데이터는 \t을 기준으로 구분되어있습니다.

In [ ]:
# DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv’
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv', sep='\t')

2. 데이터의 상위 5개 행을 출력하세요.

In [ ]:
df.head(5)

3. 데이터의 행과 열의 갯수를 파악하세요.

In [ ]:
print(df.shape)
print('행:',df.shape[0])
print('열:',df.shape[1])

4. 전체 컬럼을 출력하세요.

In [ ]:
df.columns

5. 6번째 컬럼명을 출력하세요.

In [ ]:
df.columns[5]

6. 6번째 컬럼의 데이터 타입을 확인하세요.

In [ ]:
df.iloc[:,5].dtype

7. 데이터셋의 인덱스 구성을 파악하세요.

In [ ]:
df.index

8. 6번째 컬럼의 3번째 값을 조회해 보세요.

In [ ]:
df.iloc[2,5]

9. 새로운 데이터를 로드하고 데이터의 마지막 3개행을 출력하세요.

In [ ]:
# DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv’
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl, encoding='euc-kr')

10. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하세요.

In [ ]:
df.describe()

11. 거주인구 컬럼의 값들을 출력하세요.

In [ ]:
df['거주인구']

12. 읍면동명 컬럼의 유일값 갯수를 출력하세요.

In [ ]:
df.읍면동명.nunique()

13. 새로운 데이터를 로드하고 quantity컬럼 값이 3인 데이터를 추출하여 첫 5행을 출력하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl)

df.loc[df['quantity']==3].head()

14. quantity컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하세요.

In [ ]:
df.loc[df['quantity']==3].head().reset_index(drop=True)

15. quantity , item_price 두개의 컬럼으로 구성된 새로운 데이터 프레임을 정의하세요.

In [ ]:
df[['quantity','item_price']]

16. item_price 컬럼의 달러표시 문자를 제거하고 float 타입으로 저장하여 new_price 컬럼에 저장하세요.

In [ ]:
df['new_price'] = df['item_price'].str[1:].astype('float')
df['new_price'].head()

17. new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수를 구하세요.

In [ ]:
len(df.loc[df.new_price <=5])

18. item_name명이 Chicken Salad Bowl 인 데이터 프레임을 추출하라고 index 값을 초기화 하세요.

In [ ]:
df.loc[df.item_name =='Chicken Salad Bowl'].reset_index(drop=True)

19. new_price값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터 프레임을 추출하세요.

In [ ]:
df.loc[(df.item_name =='Chicken Salad Bowl') & (df.new_price <= 9)]

20. df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화 하세요.

In [ ]:
df.sort_values('new_price').reset_index(drop=True)

21. df의 item_name 컬럼 값중 Chips 포함하는 경우의 데이터를 출력하세요.

In [ ]:
df.loc[df['item_name'].str.contains('Chips')]

22. df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 인덱싱하세요.

In [ ]:
df.loc[(df['item_name'] =='Steak Salad') | (df['item_name'] =='Bowl')]

23. df의 데이터 중 new_price값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱하세요.

In [ ]:
df.loc[df['new_price'] >= df['new_price'].mean()]

24. df의 데이터 중 item_name의 값이 Izze 데이터를 Fizzy Lizzy로 수정하세요.

In [ ]:
df.loc[df['item_name'] =='Izze','item_name'] = 'Fizzy Lizzy'

25. df의 데이터 중 choice_description 값이 NaN 인 데이터의 갯수를 구하세요.

In [ ]:
df['choice_description'].isnull().sum()

26. df의 데이터 중 choice_description 값이 NaN 인 데이터를 NoData 값으로 대체하세요.(loc 이용)

In [ ]:
df.loc[df['choice_description'].isnull(),'choice_description'] ='NoData'

27. 새로운 데이터를 로드하세요.   
데이터의 각 host_name의 빈도수를 구하고 host_name 컬럼으로 정렬하여 상위 5개를 출력하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv'
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv'
df = pd.read_csv(DataUrl)

Ans = df.groupby('host_name').size()
Ans.head()

28. neighbourhood 값과 neighbourhood_group 값에 따른 price 의 평균을 구하세요.

In [ ]:
df.groupby(['neighbourhood','neighbourhood_group'])['price'].mean()

29. 데이터를 로드하고 데이터 행과 열의 갯수를 출력하라

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'
df = pd.read_csv(DataUrl)

df.shape

30. Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하세요.
- Unknown : N   
- Less than $40K : a

- $40K - $60K : b  

- $60K - $80K : c    <br />  
- $80K - $120K : d   <br />  
- $120K + : e   <br />

In [ ]:
dic = {
    'Unknown'        : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K'    : 'b',
    '$60K - $80K'    : 'c',
    '$80K - $120K'   : 'd',
    '$120K +'        : 'e'
}

df['newIncome']  =df['Income_Category'].map(lambda x: dic[x])
df['newIncome']

31. Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하세요.  
   - 0~9 : 0
   - 10~19 :10
   - 20~29 :20
   - …    
   
   각 구간의 빈도수를 출력하라

In [ ]:
df['AgeState']  = df['Customer_Age'].map(lambda x: x//10 *10)

Ans = df['AgeState'].value_counts().sort_index()

32. 새로운 데이터를 로드하고 각 열의 데이터 타입을 파악하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv')

df.info()

33. Yr_Mo_Dy을 판다스에서 인식할 수 있는 datetime64타입으로 변경하세요.

In [ ]:
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])
df['Yr_Mo_Dy']

34. weekday컬럼을 만들고 요일별로 매핑하세요. ( 월요일: 0 ~ 일요일 :6)

In [ ]:
df['weekday'] = df['Yr_Mo_Dy'].dt.weekday

35. weekday컬럼을 기준으로 주말이면 1 평일이면 0의 값을 가지는 WeekCheck 컬럼을 만드세요.

In [ ]:
df['WeekCheck']  = df['weekday'].map(lambda x : 1 if x in [5,6] else 0)
df['WeekCheck']