0. 라이브러리를 불러오세요

In [ ]:
import numpy as np
import pandas as pd

1. 데이터를 로드하세요. 데이터는 \t을 기준으로 구분되어있습니다.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'

dframe = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv', sep='\t')

2. 데이터의 상위 5개 행을 출력하세요.

In [ ]:
dframe.head(5)

3. 데이터의 행과 열의 갯수를 파악하세요.

In [ ]:
dframe.shape

4. 전체 컬럼을 출력하세요.

In [ ]:
dframe.columns

5. 6번째 컬럼명을 출력하세요.

In [ ]:
dframe.columns[5]

6. 6번째 컬럼의 데이터 타입을 확인하세요.

7. 데이터셋의 인덱스 구성을 파악하세요.

In [ ]:
dframe.index

8. 6번째 컬럼의 3번째 값을 조회해 보세요.

9. 새로운 데이터를 로드하고 데이터의 마지막 3개행을 출력하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv', encoding='cp949')
df

10. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하세요.

11. 거주인구 컬럼의 값들을 출력하세요.

12. 읍면동명 컬럼의 유일값 갯수를 출력하세요.

13. 새로운 데이터를 로드하고 quantity컬럼 값이 3인 데이터를 추출하여 첫 5행을 출력하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'

14. quantity컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하세요.

15. quantity , item_price 두개의 컬럼으로 구성된 새로운 데이터 프레임을 정의하세요.

16. item_price 컬럼의 달러표시 문자를 제거하고 float 타입으로 저장하여 new_price 컬럼에 저장하세요.

17. new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수를 구하세요.

18. item_name명이 Chicken Salad Bowl 인 데이터 프레임을 추출하라고 index 값을 초기화 하세요.

19. new_price값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터 프레임을 추출하세요.

20. df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화 하세요.

21. df의 item_name 컬럼 값중 Chips 포함하는 경우의 데이터를 출력하세요.

22. df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 인덱싱하세요.

23. df의 데이터 중 new_price값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱하세요.

24. df의 데이터 중 item_name의 값이 Izze 데이터를 Fizzy Lizzy로 수정하세요.

25. df의 데이터 중 choice_description 값이 NaN 인 데이터의 갯수를 구하세요.

26. df의 데이터 중 choice_description 값이 NaN 인 데이터를 NoData 값으로 대체하세요.(loc 이용)

27. 새로운 데이터를 로드하세요.   
데이터의 각 host_name의 빈도수를 구하고 host_name 컬럼으로 정렬하여 상위 5개를 출력하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv'

28. neighbourhood 값과 neighbourhood_group 값에 따른 price 의 평균을 구하세요.

29. 데이터를 로드하고 데이터 행과 열의 갯수를 출력하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'

30. Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하세요.
- Unknown : N   
- Less than $40K : a

- $40K - $60K : b  

- $60K - $80K : c    <br />  
- $80K - $120K : d   <br />  
- $120K + : e   <br />

31. Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하세요.  
   - 0~9 : 0
   - 10~19 :10
   - 20~29 :20
   - …    
   
   각 구간의 빈도수를 출력하라

32. 새로운 데이터를 로드하고 각 열의 데이터 타입을 파악하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'

33. Yr_Mo_Dy을 판다스에서 인식할 수 있는 datetime64타입으로 변경하세요.

34. weekday컬럼을 만들고 요일별로 매핑하세요. ( 월요일: 0 ~ 일요일 :6)

35. weekday컬럼을 기준으로 주말이면 1 평일이면 0의 값을 가지는 WeekCheck 컬럼을 만드세요.