0. 라이브러리를 불러오세요

1. 데이터를 로드하세요. 데이터는 \t을 기준으로 구분되어있습니다.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'

pd.read_csv('~~~~', sep='\t')

2. 데이터의 상위 5개 행을 출력하세요.

3. 데이터의 행과 열의 갯수를 파악하세요.

4. 전체 컬럼을 출력하세요.

5. 6번째 컬럼명을 출력하세요.

6. 6번째 컬럼의 데이터 타입을 확인하세요.

7. 데이터셋의 인덱스 구성을 파악하세요.

8. 6번째 컬럼의 3번째 값을 조회해 보세요.

9. 새로운 데이터를 로드하고 데이터의 마지막 3개행을 출력하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv', encoding='cp949')
df

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,22451,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,22452,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9616,32064,2020-04-30,서귀포시,표선면,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,제주시,한림읍,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

10. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하세요.

11. 거주인구 컬럼의 값들을 출력하세요.

12. 읍면동명 컬럼의 유일값 갯수를 출력하세요.

13. 새로운 데이터를 로드하고 quantity컬럼 값이 3인 데이터를 추출하여 첫 5행을 출력하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'

14. quantity컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하세요.

15. quantity , item_price 두개의 컬럼으로 구성된 새로운 데이터 프레임을 정의하세요.

16. item_price 컬럼의 달러표시 문자를 제거하고 float 타입으로 저장하여 new_price 컬럼에 저장하세요.

17. new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수를 구하세요.

18. item_name명이 Chicken Salad Bowl 인 데이터 프레임을 추출하라고 index 값을 초기화 하세요.

19. new_price값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터 프레임을 추출하세요.

20. df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화 하세요.

21. df의 item_name 컬럼 값중 Chips 포함하는 경우의 데이터를 출력하세요.

22. df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 인덱싱하세요.

23. df의 데이터 중 new_price값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱하세요.

24. df의 데이터 중 item_name의 값이 Izze 데이터를 Fizzy Lizzy로 수정하세요.

25. df의 데이터 중 choice_description 값이 NaN 인 데이터의 갯수를 구하세요.

26. df의 데이터 중 choice_description 값이 NaN 인 데이터를 NoData 값으로 대체하세요.(loc 이용)

27. 새로운 데이터를 로드하세요.   
데이터의 각 host_name의 빈도수를 구하고 host_name 컬럼으로 정렬하여 상위 5개를 출력하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv'

28. neighbourhood 값과 neighbourhood_group 값에 따른 price 의 평균을 구하세요.

29. 데이터를 로드하고 데이터 행과 열의 갯수를 출력하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'

30. Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하세요.
- Unknown : N   
- Less than $40K : a

- $40K - $60K : b  

- $60K - $80K : c    <br />  
- $80K - $120K : d   <br />  
- $120K + : e   <br />

31. Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하세요.  
   - 0~9 : 0
   - 10~19 :10
   - 20~29 :20
   - …    
   
   각 구간의 빈도수를 출력하라

32. 새로운 데이터를 로드하고 각 열의 데이터 타입을 파악하세요.

In [ ]:
# DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'

33. Yr_Mo_Dy을 판다스에서 인식할 수 있는 datetime64타입으로 변경하세요.

34. weekday컬럼을 만들고 요일별로 매핑하세요. ( 월요일: 0 ~ 일요일 :6)

35. weekday컬럼을 기준으로 주말이면 1 평일이면 0의 값을 가지는 WeekCheck 컬럼을 만드세요.