
# ğŸ§¹ ë°ì´í„° ì „ì²˜ë¦¬ ì‹¤ìŠµ

ì´ íŒŒì¼ì—ì„œëŠ” ë¨¸ì‹ ëŸ¬ë‹ì„ ìœ„í•œ ë°ì´í„°ë¥¼ ì¤€ë¹„í•˜ëŠ” ì „ì²˜ë¦¬ ê³¼ì •ì„ scikit-learn ìœ¼ë¡œ ì‹¤ìŠµí•´ë´…ë‹ˆë‹¤.


## â‘  ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

ë°ì´í„° ë¶„ì„ì˜ ì²« ê±¸ìŒì€ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ëŠ” ê²ƒì…ë‹ˆë‹¤.  
ë³´í†µ CSV íŒŒì¼ì´ë‚˜ ì—‘ì…€ íŒŒì¼ ë“± ë‹¤ì–‘í•œ í¬ë§·ì˜ ë°ì´í„°ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.


## â‘¡ ë²”ì£¼í˜• ë³€ìˆ˜ ì¸ì½”ë”©

ë¨¸ì‹ ëŸ¬ë‹ ì•Œê³ ë¦¬ì¦˜ì€ ìˆ«ì ë°ì´í„°ë¥¼ ì…ë ¥ìœ¼ë¡œ ë°›ê¸° ë•Œë¬¸ì—,  
ë²”ì£¼í˜•(ë¬¸ìí˜•) ë³€ìˆ˜ëŠ” ìˆ«ìë¡œ ë³€í™˜í•´ì£¼ì–´ì•¼ í•©ë‹ˆë‹¤.  
Label Encoding ë˜ëŠ” One-Hot Encodingì„ ì£¼ë¡œ ì‚¬ìš©í•©ë‹ˆë‹¤.


## â‘¢ ìˆ˜ì¹˜í˜• ë³€ìˆ˜ ì •ê·œí™” (ìŠ¤ì¼€ì¼ë§)

íŠ¹ì„±(feature)ë§ˆë‹¤ ë‹¨ìœ„ë‚˜ ë²”ìœ„ê°€ ë‹¤ë¥¼ ìˆ˜ ìˆê¸° ë•Œë¬¸ì—, ì´ë¥¼ ë§ì¶°ì£¼ëŠ” ê³¼ì •ì´ í•„ìš”í•©ë‹ˆë‹¤.  
MinMaxScaler, StandardScaler ë“±ì„ ì‚¬ìš©í•´ ì •ê·œí™”í•©ë‹ˆë‹¤.



---

<br/><br/>

### ë°ì´í„° ì¸ì½”ë”©

### ë ˆì´ë¸” ì¸ì½”ë”©(Label encoding)

- ê° ë²”ì£¼ë§ˆë‹¤ ì¸ë±ìŠ¤ë¥¼ ë¶™ì—¬ ìˆ˜ì¹˜í™”í•˜ëŠ” ë°©ë²•
- sklearn.preprocessing  ëª¨ë“ˆì„ ì‚¬ìš©í•©ë‹ˆë‹¤.
- ì¸ì½”ë”©ì„ í•  ë•Œì—ëŠ” fit - transform ë©”ì„œë“œë¥¼ í™œìš©í•©ë‹ˆë‹¤.

In [1]:
items=['TV','ëƒ‰ì¥ê³ ','ì „ìë Œì§€','ì»´í“¨í„°','ì„ í’ê¸°','ì„ í’ê¸°','ë¯¹ì„œ','ë¯¹ì„œ']

In [2]:
# í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ import í•˜ì„¸ìš”
# LabelEncoderë¥¼ ê°ì²´ë¡œ ìƒì„±í•œ í›„ , fit( ) ê³¼ transform( ) ìœ¼ë¡œ label ì¸ì½”ë”© ìˆ˜í–‰.

# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”!
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

encoder.fit(items)
result = encoder.transform(items)

print(f"result: {result}")

result: [0 1 4 5 3 3 2 2]

In [3]:
## ëª¨ë²” ë‹µì•ˆ

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)
print('ì¸ì½”ë”© ë³€í™˜ê°’:',labels)

ì¸ì½”ë”© ë³€í™˜ê°’: [0 1 4 5 3 3 2 2]

In [4]:
print('ì¸ì½”ë”© í´ë˜ìŠ¤:',encoder.classes_)

ì¸ì½”ë”© í´ë˜ìŠ¤: ['TV' 'ëƒ‰ì¥ê³ ' 'ë¯¹ì„œ' 'ì„ í’ê¸°' 'ì „ìë Œì§€' 'ì»´í“¨í„°']

In [5]:
print('ë””ì½”ë”© ì›ë³¸ ê°’:',encoder.inverse_transform([4, 5, 2, 0, 1, 1, 3, 3]))

ë””ì½”ë”© ì›ë³¸ ê°’: ['ì „ìë Œì§€' 'ì»´í“¨í„°' 'ë¯¹ì„œ' 'TV' 'ëƒ‰ì¥ê³ ' 'ëƒ‰ì¥ê³ ' 'ì„ í’ê¸°' 'ì„ í’ê¸°']

### ì›-í•« ì¸ì½”ë”©(One-Hot encoding) - sklean.preprocessing.OneHotEncoder

- ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ë¨¸ì‹ ëŸ¬ë‹ ëª¨ë¸ì´ ì´í•´í•  ìˆ˜ ìˆë„ë¡ ìˆ«ì ë²¡í„°ë¡œ ë³€í™˜í•˜ëŠ” ë°©ë²•
- ê° ë²”ì£¼ë¥¼ 0ê³¼ 1ë¡œ êµ¬ì„±ëœ ë²¡í„°ë¡œ í‘œí˜„í•˜ë©°, í•´ë‹¹ ë²”ì£¼ì—ë§Œ 1ì„ ì£¼ê³  ë‚˜ë¨¸ì§€ëŠ” ëª¨ë‘ 0ìœ¼ë¡œ í‘œì‹œí•©ë‹ˆë‹¤.
(1 : True / 0: False)
- scikit-learn ì—ì„œ ì›í•«ì¸ì½”ë”©ì„ ì ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” ìš°ì„  LabelEncoding ì„ ìˆ˜í–‰í•´ì•¼ í•©ë‹ˆë‹¤.

In [6]:
items=['TV','ëƒ‰ì¥ê³ ','ì „ìë Œì§€','ì»´í“¨í„°','ì„ í’ê¸°','ì„ í’ê¸°','ë¯¹ì„œ','ë¯¹ì„œ']

In [7]:
# í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ import í•˜ì„¸ìš”
# scikit-learn ì—ì„œ ì›í•«ì¸ì½”ë”©ì„ ì ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” ìš°ì„  LabelEncoding ì„ ìˆ˜í–‰í•´ì•¼ í•©ë‹ˆë‹¤.


# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(items)
result_le = encoder.transform(items)

print(result_le)
result_le = result_le.reshape(-1,1) # -1: ìë™ìœ¼ë¡œ í¬ê¸°ì¡°ì ˆ / ì°¨ì›ì˜ í¬ê¸° : 1ë¡œ ê³ ì •
print(result_le)

encoder_oh = OneHotEncoder()
encoder_oh.fit(result_le)

result_oh = encoder_oh.transform(result_le)

print(result_oh.toarray())

[0 1 4 5 3 3 2 2]
[[0]
 [1]
 [4]
 [5]
 [3]
 [3]
 [2]
 [2]]
[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]]

In [8]:
## ëª¨ë²” ë‹µì•ˆ


from sklearn.preprocessing import OneHotEncoder
import numpy as np


# ë¨¼ì € ìˆ«ìê°’ìœ¼ë¡œ ë³€í™˜ì„ ìœ„í•´ LabelEncoderë¡œ ë³€í™˜í•©ë‹ˆë‹¤.
encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)
# 2ì°¨ì› ë°ì´í„°ë¡œ ë³€í™˜í•©ë‹ˆë‹¤.
labels = labels.reshape(-1,1)

# ì›-í•« ì¸ì½”ë”©ì„ ì ìš©í•©ë‹ˆë‹¤.
oh_encoder = OneHotEncoder()
oh_encoder.fit(labels)
oh_labels = oh_encoder.transform(labels)
print('ì›-í•« ì¸ì½”ë”© ë°ì´í„°')
print(oh_labels.toarray())
print('ì›-í•« ì¸ì½”ë”© ë°ì´í„° ì°¨ì›')
print(oh_labels.shape)

ì›-í•« ì¸ì½”ë”© ë°ì´í„°
[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]]
ì›-í•« ì¸ì½”ë”© ë°ì´í„° ì°¨ì›
(8, 6)

### ì›-í•« ì¸ì½”ë”© - pd.get_dummies()
- scikit-learn ì˜ ì›í•«ì¸ì½”ë”©ì€ ì‚¬ìš©ë²•ì´ ë¶ˆí¸í•˜ê¸° ë–„ë¬¸ì— ëŒ€ë¶€ë¶„ ì›í•«ì¸ì½”ë”©ì€ pandas ë¥¼ í™œìš©í•©ë‹ˆë‹¤.
- pd.get_dummies()ë¥¼ í™œìš©í•˜ë©´, ë°ì´í„°í”„ë ˆì„í˜•íƒœì˜ ì¸ì½”ë”©ëœ ê²°ê³¼ë¥¼ ì–»ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [9]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'item':['TV','ëƒ‰ì¥ê³ ','ì „ìë Œì§€','ì»´í“¨í„°','ì„ í’ê¸°','ì„ í’ê¸°','ë¯¹ì„œ','ë¯¹ì„œ'] })
display(df)

   item
0    TV
1   ëƒ‰ì¥ê³
2  ì „ìë Œì§€
3   ì»´í“¨í„°
4   ì„ í’ê¸°
5   ì„ í’ê¸°
6    ë¯¹ì„œ
7    ë¯¹ì„œ

In [10]:
# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”!
pd.get_dummies(df)

   item_TV  item_ëƒ‰ì¥ê³   item_ë¯¹ì„œ  item_ì„ í’ê¸°  item_ì „ìë Œì§€  item_ì»´í“¨í„°
0     True     False    False     False      False     False
1    False      True    False     False      False     False
2    False     False    False     False       True     False
3    False     False    False     False      False      True
4    False     False    False      True      False     False
5    False     False    False      True      False     False
6    False     False     True     False      False     False
7    False     False     True     False      False     False

In [11]:
## ëª¨ë²” ë‹µì•ˆ

pd.get_dummies(df)

   item_TV  item_ëƒ‰ì¥ê³   item_ë¯¹ì„œ  item_ì„ í’ê¸°  item_ì „ìë Œì§€  item_ì»´í“¨í„°
0     True     False    False     False      False     False
1    False      True    False     False      False     False
2    False     False    False     False       True     False
3    False     False    False     False      False      True
4    False     False    False      True      False     False
5    False     False    False      True      False     False
6    False     False     True     False      False     False
7    False     False     True     False      False     False

ë§Œì•½ ë°ì´í„°ì— ê²°ì¸¡ì¹˜ê°€ ìˆë‹¤ë©´ ì–´ë–»ê²Œ ë ê¹Œìš”?

In [12]:
# get_dummies ì˜ ê²°ì¸¡ì¹˜ ì²˜ë¦¬ë¥¼ ìœ„í•œ íŒŒë¼ë¯¸í„° ì†Œê°œ
season = pd.DataFrame(['spring', 'summer', 'fall', np.nan])
season

        0
0  spring
1  summer
2    fall
3     NaN

In [13]:
# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”!
display( pd.get_dummies(season) )

display( pd.get_dummies(season, dummy_na=True) )

   0_fall  0_spring  0_summer
0   False      True     False
1   False     False      True
2    True     False     False
3   False     False     False

   0_fall  0_spring  0_summer  0_nan
0   False      True     False  False
1   False     False      True  False
2    True     False     False  False
3   False     False     False   True

In [14]:
## ëª¨ë²” ë‹µì•ˆ


pd.get_dummies(season)

   0_fall  0_spring  0_summer
0   False      True     False
1   False     False      True
2    True     False     False
3   False     False     False

In [15]:
## ëª¨ë²” ë‹µì•ˆ


pd.get_dummies(season, dummy_na=True)

   0_fall  0_spring  0_summer  0_nan
0   False      True     False  False
1   False     False      True  False
2    True     False     False  False
3   False     False     False   True



---



###  í”¼ì²˜ ìŠ¤ì¼€ì¼ë§ê³¼ ì •ê·œí™”

### StandardScaler


- StandardScalerëŠ” ë°ì´í„°ì˜ í‰ê· ì„ 0, í‘œì¤€í¸ì°¨ë¥¼ 1ë¡œ ë³€í™˜í•˜ì—¬ ì •ê·œ ë¶„í¬ í˜•íƒœë¡œ í‘œì¤€í™”í•©ë‹ˆë‹¤.
- ìŠ¤ì¼€ì¼ì´ ë‹¤ë¥¸ íŠ¹ì„±ë“¤ì„ ë™ì¼í•œ ê¸°ì¤€ìœ¼ë¡œ ë§ì¶°ì£¼ê¸° ìœ„í•´ ì‚¬ìš©í•©ë‹ˆë‹¤.
- í•™ìŠµ ë°ì´í„°ì— fit_transform()ì„ ì ìš©í•˜ê³ , í…ŒìŠ¤íŠ¸ ë°ì´í„°ì—ëŠ” transform()ë§Œ ì ìš©í•´ì•¼ í•©ë‹ˆë‹¤.
ì´ë ‡ê²Œ í•´ì•¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì˜ ì •ë³´ê°€ í•™ìŠµì— ë°˜ì˜ë˜ì§€ ì•Šì•„ ë°ì´í„° ëˆ„ìˆ˜ë¥¼ ë°©ì§€í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [16]:
from sklearn.datasets import load_iris
import pandas as pd

# ë¶“ê½ƒ ë°ì´í„° ì…‹ì„ ë¡œë”©í•˜ê³  DataFrameìœ¼ë¡œ ë³€í™˜í•©ë‹ˆë‹¤.
iris = load_iris()
iris_data = iris.data
iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)

print('feature ë“¤ì˜ í‰ê·  ê°’')
print(iris_df.mean())
print('\nfeature ë“¤ì˜ ë¶„ì‚° ê°’')
print(iris_df.var())

feature ë“¤ì˜ í‰ê·  ê°’
sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

feature ë“¤ì˜ ë¶„ì‚° ê°’
sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
dtype: float64

In [17]:
# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”!
from sklearn.preprocessing import StandardScaler

# StandardScalerê°ì²´ ìƒì„±
scaler = StandardScaler()

#  StandardScaler ë¡œ ë°ì´í„° ì…‹ ë³€í™˜. fit( ) ê³¼ transform( ) í˜¸ì¶œ.
scaler.fit(iris_df) # ë°ì´í„° í”„ë ˆì„ í˜•íƒœë¡œ ë„£ì–´ë„ ì •ìƒì‘ë™!
iris_scaled = scaler.transform(iris_df)

iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)

display(iris_df_scaled)

print('í‘œì¤€ì •ê·œí™” ì´í›„ í‰ê· ')   # íš¨ìœ¨ì„ ìœ„í•´ 0ì— ê·¼ì‚¬
print(iris_df_scaled.mean())

print('í‘œì¤€ì •ê·œí™” ì´í›„ ë¶„ì‚°')   # 1ì— ê·¼ì‚¬
print(iris_df_scaled.var())

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0            -0.900681          1.019004          -1.340227         -1.315444
1            -1.143017         -0.131979          -1.340227         -1.315444
2            -1.385353          0.328414          -1.397064         -1.315444
3            -1.506521          0.098217          -1.283389         -1.315444
4            -1.021849          1.249201          -1.340227         -1.315444
..                 ...               ...                ...               ...
145           1.038005         -0.131979           0.819596          1.448832
146           0.553333         -1.282963           0.705921          0.922303
147           0.795669         -0.131979           0.819596          1.053935
148           0.432165          0.788808           0.933271          1.448832
149           0.068662         -0.131979           0.762758          0.790671

[150 rows x 4 columns]

í‘œì¤€ì •ê·œí™” ì´í›„ í‰ê·
sepal length (cm)   -1.690315e-15
sepal width (cm)    -1.842970e-15
petal length (cm)   -1.698641e-15
petal width (cm)    -1.409243e-15
dtype: float64
í‘œì¤€ì •ê·œí™” ì´í›„ ë¶„ì‚°
sepal length (cm)    1.006711
sepal width (cm)     1.006711
petal length (cm)    1.006711
petal width (cm)     1.006711
dtype: float64

In [18]:
## ëª¨ë²”ë‹µì•ˆ

from sklearn.preprocessing import StandardScaler

# StandardScalerê°ì²´ ìƒì„±
scaler = StandardScaler()
# StandardScaler ë¡œ ë°ì´í„° ì…‹ ë³€í™˜. fit( ) ê³¼ transform( ) í˜¸ì¶œ.
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

#transform( )ì‹œ scale ë³€í™˜ëœ ë°ì´í„° ì…‹ì´ numpy ndarryë¡œ ë°˜í™˜ë˜ì–´ ì´ë¥¼ DataFrameìœ¼ë¡œ ë³€í™˜
iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)
print('feature ë“¤ì˜ í‰ê·  ê°’')
print(iris_df_scaled.mean())
print('\nfeature ë“¤ì˜ ë¶„ì‚° ê°’')
print(iris_df_scaled.var())

feature ë“¤ì˜ í‰ê·  ê°’
sepal length (cm)   -1.690315e-15
sepal width (cm)    -1.842970e-15
petal length (cm)   -1.698641e-15
petal width (cm)    -1.409243e-15
dtype: float64

feature ë“¤ì˜ ë¶„ì‚° ê°’
sepal length (cm)    1.006711
sepal width (cm)     1.006711
petal length (cm)    1.006711
petal width (cm)     1.006711
dtype: float64

### MinMaxScaler

- MinMaxScalerëŠ” ë°ì´í„°ë¥¼ 0ê³¼ 1 ì‚¬ì´ì˜ ë²”ìœ„ë¡œ ì••ì¶•í•˜ëŠ” ì •ê·œí™” ë°©ì‹ì…ë‹ˆë‹¤.
- íŠ¹ì„± ê°„ì˜ ìµœì†Œê°’ê³¼ ìµœëŒ€ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ ìŠ¤ì¼€ì¼ì„ ì¡°ì •í•˜ë¯€ë¡œ, ëª¨ë“  íŠ¹ì„±ì´ ë™ì¼í•œ ë²”ìœ„ë¥¼ ê°€ì§€ê²Œ ë©ë‹ˆë‹¤.
- fit_transform()ì€ ë°˜ë“œì‹œ í•™ìŠµ ë°ì´í„°ì—ë§Œ ì ìš©í•˜ê³ , í…ŒìŠ¤íŠ¸ ë°ì´í„°ëŠ” transform()ë§Œ í•´ì•¼ í•©ë‹ˆë‹¤.

In [21]:
# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”!
from sklearn.preprocessing import MinMaxScaler
# MinMaxScalerê°ì²´ ìƒì„±
scaler = MinMaxScaler()
# MinMaxScaler ë¡œ ë°ì´í„° ì…‹ ë³€í™˜. fit() ê³¼ transform() í˜¸ì¶œ.
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df) # numpy ê°ì²´

iris_df_scaled = pd.DataFrame(iris_scaled, columns=iris.feature_names)
display(iris_df_scaled)
print(f"ìŠ¤ì¼€ì¼ë§ í›„ ìµœì†Œê°’\n{iris_df_scaled.min()}")
print(f"ìŠ¤ì¼€ì¼ë§ í›„ ìµœëŒ€ê°’\n{iris_df_scaled.max()}")

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0             0.222222          0.625000           0.067797          0.041667
1             0.166667          0.416667           0.067797          0.041667
2             0.111111          0.500000           0.050847          0.041667
3             0.083333          0.458333           0.084746          0.041667
4             0.194444          0.666667           0.067797          0.041667
..                 ...               ...                ...               ...
145           0.666667          0.416667           0.711864          0.916667
146           0.555556          0.208333           0.677966          0.750000
147           0.611111          0.416667           0.711864          0.791667
148           0.527778          0.583333           0.745763          0.916667
149           0.444444          0.416667           0.694915          0.708333

[150 rows x 4 columns]

ìŠ¤ì¼€ì¼ë§ í›„ ìµœì†Œê°’
sepal length (cm)    0.0
sepal width (cm)     0.0
petal length (cm)    0.0
petal width (cm)     0.0
dtype: float64
ìŠ¤ì¼€ì¼ë§ í›„ ìµœëŒ€ê°’
sepal length (cm)    1.0
sepal width (cm)     1.0
petal length (cm)    1.0
petal width (cm)     1.0
dtype: float64

In [20]:
## ëª¨ë²”ë‹µì•ˆ

from sklearn.preprocessing import MinMaxScaler

# MinMaxScalerê°ì²´ ìƒì„±
scaler = MinMaxScaler()
# MinMaxScaler ë¡œ ë°ì´í„° ì…‹ ë³€í™˜. fit() ê³¼ transform() í˜¸ì¶œ.
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

# transform()ì‹œ scale ë³€í™˜ëœ ë°ì´í„° ì…‹ì´ numpy ndarryë¡œ ë°˜í™˜ë˜ì–´ ì´ë¥¼ DataFrameìœ¼ë¡œ ë³€í™˜
iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)
print('featureë“¤ì˜ ìµœì†Œ ê°’')
print(iris_df_scaled.min())
print('\nfeatureë“¤ì˜ ìµœëŒ€ ê°’')
print(iris_df_scaled.max())

featureë“¤ì˜ ìµœì†Œ ê°’
sepal length (cm)    0.0
sepal width (cm)     0.0
petal length (cm)    0.0
petal width (cm)     0.0
dtype: float64

featureë“¤ì˜ ìµœëŒ€ ê°’
sepal length (cm)    1.0
sepal width (cm)     1.0
petal length (cm)    1.0
petal width (cm)     1.0
dtype: float64

### [ì°¸ê³ ] Scalerë¥¼ ì´ìš©í•˜ì—¬ í•™ìŠµ ë°ì´í„°ì™€ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— fit(), transform(), fit_transform() ì ìš© ì‹œ ìœ ì˜ì‚¬í•­.

In [25]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

# í•™ìŠµ ë°ì´í„°ëŠ” 0 ë¶€í„° 10ê¹Œì§€, í…ŒìŠ¤íŠ¸ ë°ì´í„°ëŠ” 0 ë¶€í„° 5ê¹Œì§€ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„° ì„¸íŠ¸ë¡œ ìƒì„±
# Scalerí´ë˜ìŠ¤ì˜ fit(), transform()ì€ 2ì°¨ì› ì´ìƒ ë°ì´í„°ë§Œ ê°€ëŠ¥í•˜ë¯€ë¡œ reshape(-1, 1)ë¡œ ì°¨ì› ë³€ê²½
train_array = np.arange(0, 11).reshape(-1, 1)
test_array =  np.arange(0, 6).reshape(-1, 1)

print(train_array)
print(test_array)

[[ 0]
 [ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]]
[[0]
 [1]
 [2]
 [3]
 [4]
 [5]]

*  ìµœì†Œê°’ 0, ìµœëŒ€ê°’ 1ë¡œ ë³€í™˜í•˜ëŠ” MinMaxScaler ê°ì²´ ìƒì„±
* fit, transform ì„ ì‚¬ìš©í•˜ì—¬ ë°ì´í„° ë³€í™˜

In [26]:
scaler = MinMaxScaler()
# fit()í•˜ê²Œ ë˜ë©´ train_array ë°ì´í„°ì˜ ìµœì†Œê°’ì´ 0, ìµœëŒ€ê°’ì´ 10ìœ¼ë¡œ ì„¤ì •.
scaler.fit(train_array)
# 1/10 scaleë¡œ train_array ë°ì´í„° ë³€í™˜í•¨. ì›ë³¸ 10-> 1ë¡œ ë³€í™˜ë¨.
train_scaled = scaler.transform(train_array)

print('ì›ë³¸ train_array ë°ì´í„°:', np.round(train_array.reshape(-1), 2))
print('Scaleëœ train_array ë°ì´í„°:', np.round(train_scaled.reshape(-1), 2))

ì›ë³¸ train_array ë°ì´í„°: [ 0  1  2  3  4  5  6  7  8  9 10]
Scaleëœ train_array ë°ì´í„°: [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]

*  [í™•ì¸!] ì•ì—ì„œ ìƒì„±í•œ MinMaxScalerì— test_arrayë¥¼ fit()í•˜ê²Œ ë˜ë©´ ì›ë³¸ ë°ì´í„°ì˜ ìµœì†Œê°’ì´ 0, ìµœëŒ€ê°’ì´ 5ìœ¼ë¡œ ì„¤ì •ë¨

* ì‹¤ì œ í•™ìŠµ ë°ì´í„°ì™€ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì˜ ë³€í™˜ ê²°ê³¼ê°€ ë‹¤ë¥¸ ê²ƒì„ í™•ì¸í•´ë³´ì.

In [27]:
scaler.fit(test_array)
# 1/5 scaleë¡œ test_array ë°ì´í„° ë³€í™˜í•¨. ì›ë³¸ 5->1ë¡œ ë³€í™˜.
test_scaled = scaler.transform(test_array)
# train_array ë³€í™˜ ì¶œë ¥
print('ì›ë³¸ test_array ë°ì´í„°:', np.round(test_array.reshape(-1), 2))
print('Scaleëœ test_array ë°ì´í„°:', np.round(test_scaled.reshape(-1), 2))

ì›ë³¸ test_array ë°ì´í„°: [0 1 2 3 4 5]
Scaleëœ test_array ë°ì´í„°: [0.  0.2 0.4 0.6 0.8 1. ]

* ìœ„ì™€ ê°™ì€ ì¼ì´ ë²Œì–´ì§€ì§€ ì•Šê²Œ í•˜ë ¤ë©´?
-> train ë°ì´í„°ì— ì ìš©í•œ ê¸°ì¤€ì„ testì—ë„ ë˜‘ê°™ì´ ì ìš©í•´ì•¼í•œë‹¤.
-> train ë°ì´í„°ì— ì ìš©í•œ ê¸°ì¤€ì€ .fit() ë©”ì„œë“œë¡œ ì´ë£¨ì–´ì§„ë‹¤.
-> ë”°ë¼ì„œ testì—ì„œëŠ” . fit()ì„ í•˜ì§€ ì•ŠëŠ”ë‹¤!
-> testì—ì„œëŠ” ì˜¤ì§ ë³€í™˜ë§Œ ìˆ˜í–‰í•œë‹¤ : .transform()

In [28]:
# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”!
from sklearn.preprocessing import MinMaxScaler
import numpy as np
# MinMaxScaler ê°ì²´ ìƒì„±í•˜ì„¸ìš”
scaler = MinMaxScaler()

# í•™ìŠµë°ì´í„°ì— ì¸ì½”ë”©í•˜ì„¸ìš”
scaler.fit(train_array)
train_scaled = scaler.transform(train_array)

test_scaled = scaler.transform(test_array)

# í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ì¸ì½”ë”©í•˜ì„¸ìš”

In [29]:
## ëª¨ë²”ë‹µì•ˆ

scaler = MinMaxScaler()
scaler.fit(train_array)
train_scaled = scaler.transform(train_array)
print('ì›ë³¸ train_array ë°ì´í„°:', np.round(train_array.reshape(-1), 2))
print('Scaleëœ train_array ë°ì´í„°:', np.round(train_scaled.reshape(-1), 2))

# test_arrayì— Scale ë³€í™˜ì„ í•  ë•ŒëŠ” ë°˜ë“œì‹œ fit()ì„ í˜¸ì¶œí•˜ì§€ ì•Šê³  transform() ë§Œìœ¼ë¡œ ë³€í™˜í•´ì•¼ í•¨.
test_scaled = scaler.transform(test_array)
print('\nì›ë³¸ test_array ë°ì´í„°:', np.round(test_array.reshape(-1), 2))
print('Scaleëœ test_array ë°ì´í„°:', np.round(test_scaled.reshape(-1), 2))

ì›ë³¸ train_array ë°ì´í„°: [ 0  1  2  3  4  5  6  7  8  9 10]
Scaleëœ train_array ë°ì´í„°: [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]

ì›ë³¸ test_array ë°ì´í„°: [0 1 2 3 4 5]
Scaleëœ test_array ë°ì´í„°: [0.  0.1 0.2 0.3 0.4 0.5]